footer {
    background: #064f5c;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    text-align: center;
    font: normal normal 14px;
    color: #ffffff;
    letter-spacing: 2px;
}