.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 300px 300px 300px;
    margin-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
}

.grid-item {
    background-color: #CEC5B0;
    border: 1px solid white;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.grid-item img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transform: rotateY(360deg);
    transition: 2.5s;
}

.grid-item:hover {
    background: grey;
}

.grid-item img:hover {
    transform: rotateX(0deg);
}