// Colores
$color-blanco: white;
$color-blanco-humo: whitesmoke;

// Font sizes
$font-default: 1rem; 
$font-h1: $font-default * 5;
$font-h2: $font-default * 3;

// Media queries
$media-query-mobile: 420px;

// Imagenes:
$background-image: url("images/124.jpg");
$background-image-ancho: 200px;